body{
    background-color: hsl(216, 12%, 8%);
    transition: 0.3s;
    height: 100%;
}
.rating{
    margin: auto;
    margin-top: 150px;
    width: 300px;
    background-color: hsl(213, 19%, 18%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
}
.star{
    height: 15px;
    width: 15px;
    background-color:hsl(213, 20%, 22%);
    padding: 8px;
    border-radius: 100%;
    margin-left: 10px;
}
.p-1{
    font-family: 'Overpass', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
    margin-left: 10px;
}
.p-2{
    margin-top: 20px;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: hsl(217, 12%, 63%);
    line-height: 1.8;
    margin-left: 10px;
}
.ratings{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn{
    background-color: hsl(210, 18%, 24%);
    /* background-color: hsl(213, 19%, 18%); */
    border: none;
    /* padding: 12px 15px; */
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    font-family: 'Overpass', sans-serif;
    color: hsl(0, 0%, 100%);
    transition: 0.3s;
}
.btn:hover{
    background-color: hsl(25, 97%, 53%)
}
.btn:focus{
    background-color: hsl(217, 12%, 63%);
}
.submit{
    width: 90%;
    margin: 0 auto;
    font-family: 'Overpass', sans-serif;
    padding: 12px 0;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 100px;
    transition: 0.3s;
}
.submit:hover{
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
}

/* ------------THANK YOU ------------- */
.thank-you{
    margin: auto;
    width: 300px;
    background-color: hsl(213, 19%, 18%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    transition: 0.3s;
    margin-top: 150px;
}
.thank-you-img{
    width: 150px;
    margin: 10px auto;
}
.final-rating{
    margin: auto;
    font-family: 'Overpass', sans-serif;
    color: hsl(25, 97%, 53%);
    background-color: hsl(210, 18%, 24%);
    padding: 8px 10px;
    border-radius: 50px;
    margin-top: 20px;
}
.p-1-center{
    margin: auto;
    margin-top: 20px;
}
.p-2-center{
    margin: auto;
    margin-top: 20px;
}
.hidden{
    display: none;
}
